<div id="TA_selfserveprop818" class="TA_selfserveprop">
<ul id="05SmOQDsw" class="TA_links 6fx9ho93R">
<li id="OzUP3NsCD" class="WnOUm620M">14 reviews of <a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g48134-d2202658-Reviews-North_Fork_Bicycle_Tours-Mattituck_North_Fork_Long_Island_New_York.html">North Fork Bicycle Tours</a> in Mattituck</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=818&amp;locationId=2202658&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true"></script>
