%h1
  Our Events
%ul
  - events.each do |event|
    %li
      = link_to event.title, event_path(event)
    %li
      = event.description
    %li
      = number_to_currency(event.price)
    - if event.spots_available > 0
      %p
        There are #{event.spots_available} spots still available for this trip!
    - else
      %p This trip is sold out!
    %hr