%h1.headline
  our events
%ul
  - events.each do |event|
    .span3.eventlisting
      %h3
        = link_to event.title, event
      %img
        - event.photos.each do |photo|
          - if photo.primary_for_event?
            = link_to (image_tag photo.photo.medium, class: 'img-polaroid'), event_path(event)
    .span8
      .eventdescription
        %li
          = truncate event.description, length: 500
          = link_to 'read more', event
    %hr