- provide(:title, 'about')
%h1.headline
  about pour & pedal

%p.paddtop
  What’s better than spending a day bike riding along the beautiful countryside, while indulging in all the area has to offer? Pour & Pedal Bike Tours offers a unique way to share your passion for adventure and wine tasting. With several locations in the New Jersey & New York wine regions, our all-inclusive day trips are great way to enjoy the outdoors.
.clearfix

  %p.headlinetext
    How will the day go?
  .clearfix

  %p
    Tours begin with a short introduction of the staff and the group you will be riding with. Pour & Pedal provides top-of-the-line hybrid bicycles, along with helmets, free of charge. Each bicycle is equipped with a basket for easily transporting personal items and purchases throughout the day. Please feel free to bring your own equipment if you wish. Our guides will provide proper safety instructions and guidelines before the fun begins.
  %p
    The terrain is relatively flat with a few rolling hills. Tour guides may stop periodically to point out historical facts or points of interest - pay attention, some of our trivia is based on what you learn along the way! Depending on the location, we may visit a local farm or shops in the area. At the first winery, be prepared to receive the full experience as you tour through the sprawling acres of vineyards, the tank room, and the barrel cellar. Our guides will share their knowledge of the wine making process and will be happy to answer any questions you have. What tour isn’t complete without a wine tasting? Let the pouring begin!
  %p
    Sample different wines to see if you have what it takes to become a wine connoisseur. Enjoy some snacks, while taking in the scenery with friends and loved ones. Afterwards, we pedal to the next winery to sample more authentic local wines and indulge in a gourmet picnic lunch. Don’t be surprised if the owners extend an invite for an exclusive barrel tasting or even a bike ride through their vineyard!
  %p
    Pour & Pedal is a recognized leader in the promotion of an active and healthy lifestyle. #{link_to "We are a highly rated attraction", "http://www.tripadvisor.com/Attraction_Review-g48134-d2202658-Reviews-North_Fork_Bicycle_Tours-Mattituck_North_Fork_Long_Island_New_York.html"}, as well as the recipient of numerous accolades for our charitable contributions and health awareness projects.
  %hr