%h1.headline
  about pour & pedal

.explainer
  %p.lead
    Pour & Pedal Bike Tours is offering a new way for you to share a passion for unique adventures and drinking wine. It is a day to enjoy beautiful weather while bike riding on the countryside. If you are not familiar with the territory, this tour is the perfect way to indulge in what the area has to offer.

  %p
    Pour & Pedal has been recognized as a creative leader in the promotion of a active and healthy lifestyle. Get some exercise while you ride our top of the line comfort bikes, and once we get to the winery we will explain the health benefits of wine.

  %p
    Each tour will begin with introductions of the staff and the group you will be touring with. You will find that as the day goes on, you’ll quickly become friends!

  %p
    Pour & Pedal will provide you with a bike and helmet free of charge. All bicycles have baskets for you to transport any purchases throughout the tour without worry. Feel free to bring your own equipment if you wish!  Our guides will provide all the safety instructions and guidelines needed for the day before the fun officially begins.

  .clearfix

  %h2.pull-left
    How will the day go?
  .clearfix

  %p
    We start by pedaling to our first winery for the day. The terrain is relatively flat with a few rolling hills. The tour guides will stop periodically to point out historical facts or points of interest (pay attention, this may help you later on with some fun trivia!). Depending on the location, we will make a visit to a local farm to check out their fresh produce.
    Tour of the vineyard and production facility, which will take you through the sprawling acres of vines, the tank room, and an enjoyable covered wagon ride or visit to the barrel cellar. What tour isn’t complete without a wine tasting? Let the pouring begin!
  %p
    Sample different wines and see if you have what it takes to become a wine connoisseur. During the tasting you can enjoy some snacks, but don’t eat too much because lunch is around the corner!
    Afterwards, more wine!! Enjoy another one of the other local wineries and vineyards where we will sample more authentic New Jersey wines while you indulge in our gourmet picnic lunch. If you are lucky, the owners will invite us for a barrel tasting or allow us to ride our bicycles through their vineyard!
  %p
    To conclude your exciting day, you’ll bike back to our meeting place, but don’t leave yet because we have a thank you gift waiting for you!
  %hr