%h1.headline
  frequently asked questions
%h2
  if your question isn't answered here, please #{link_to "contact us", new_contact_path}!

- @faqs.each do |faq|
  %p.headlinetext
    = faq.question
  %p
    = faq.answer