.center.hero-unit
  .span7
    %h2
      welcome to
  .span9
    %h1
      pour & pedal
  .span3
    %h4
      Image goes here
    %p
      of them vegan authentic est. Fixie synth actually banjo readymade squid. Gluten-free actually gentrify, keytar next level irure eu. Authentic 90's scenester nulla
  .span3
    %h4
      Image goes here
    %p
      of them vegan authentic est. Fixie synth actually banjo readymade squid. Gluten-free actually gentrify, keytar next level irure eu. Authentic 90's scenester nulla
  .span3
    %h4
      Image goes here
    %p
      of them vegan authentic est. Fixie synth actually banjo readymade squid. Gluten-free actually gentrify, keytar next level irure eu. Authentic 90's scenester nulla

  .clearfix
  %br
  = link_to "Find a ride now!", events_path, class: "btn btn-large btn-danger"