.center.hero-unit
  .span3
    %h3.pull-left
      welcome to
  .clearfix
  %h1
    pour & pedal
#myCarousel.carousel.slide
  .carousel-inner
    .active.item
      %img
        = image_tag('front-sliders.png', class: 'center')
    .item
      %img
        = image_tag('vineyard.png', class: 'center')
    .item
      %img
        = image_tag('howwine.png', class: 'center')
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
#cta
  = link_to "find a ride now!", events_path, class: "mybtn btn btn-success"
%hr
.span3

.explainer
  %p
    Located in the heart of New Jersey and Long Island New York’s wine countries, Pour & Pedal Bike Tours are a one-day journey through the beautiful countryside and vineyards.  Our tour travels through the breathtaking landscapes with ventures in Wine Country, including farms, gardens, and vineyards.
%hr

