- provide(:title, 'gallery')
.headline
.span4
  %h1.explainer
    Wish you were here..
.span7
  %h3.explainer
    drag the photos to see the fun of a pour & pedal trip!
- gallery_images.each do |image|
  .polaroid
    = image_tag image.photo.gallery
    %p
      = image.caption
