%h1.paddtop
  our locations
%ul
  - locations.each do |location|
    %li
      = link_to location.name, location_path(location)
    %li
      - location.photos.each do |photo|
        - if photo.is_primary?
          = image_tag photo.photo.medium, class: 'img-polaroid'
        - else
    %li
      = location.description