%h1.headline
  our locations
%ul
  - locations.each do |location|
    %h2.headline
      = link_to location.name, location
    .span3.eventlisting
      %img
        - location.photos.each do |photo|
          - if photo.primary_for_location?
            = image_tag photo.photo.medium, class: 'img-polaroid'
    .span8
      .eventdescription.explainer
        = truncate location.description, length: 1000
        = link_to 'read more', location
    %hr