%h1.headline
  Congratulations!
.headline.paddtop
%p
  You've purchased and sent #{pluralize(@cert.number_purchased, 'gift certificate')} for #{@cert.recipient_first_name} #{@cert.recipient_last_name} to #{@cert.recipient_email}.
%p
  Share the fun! Like us on Facebook!
.fb-like.padfb{"data-font" => "lucida grande", "data-href" => "http://pourandpedal.com", "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}