.clearfix
- @alerts = Alert.all
- @alerts.each do |alert|
  - if alert.show_alert?
    .explainerred
      %h3.middling
        = alert.headline
      %p.bodyjustify
        = alert.content
      %p.right
        last updated #{time_ago_in_words(alert.updated_at)} ago
.clearfix